p You can #{also} find me on 
  - if (contact.facebook)
    a(href=contact.facebook) Facebook
    ,
  - if (contact.twitter)
    a(href='http://www.twitter.com/'+contact.twitter)!= '@'+contact.twitter
    ,
  - if (contact.gplus)
    a(href='http://plus.google.com') G+
    .
