!!! 5
//[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]
//[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]
//[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]
//[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  // Basic Page Needs
  meta(charset='utf-8')
  title Your Page Title Here :)
  meta(name='description', content='')
  meta(name='author', content='')
  //[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script> <![endif]
  // Mobile Specific Metas
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  // CSS
  link(rel='stylesheet', href='stylesheets/base.css')
  link(rel='stylesheet', href='stylesheets/skeleton.css')
  link(rel='stylesheet', href='stylesheets/layout.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  // Favicons
  link(rel='shortcut icon', href='images/favicon.ico')
  link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
  link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
body
  // Primary Page Layout
  // Delete everything in this .container and get started on your own site!
  .container
    .twelve.columns#header
      h2 #{title}
      h4 #{tagline}
      div I care about
        a(href='/software') Software Development
        |  and
        a(href='/life') Life
        .
    .row
      !=body
    .twelve.columns.remove-bottom
      small Powered by Vanity, skinned with Skeleton. Content copyright &copy; 2011, Joshua Gross.


  // Optional bragging rights:
  // - resume
  // - total connection count

  // JS
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js')
  script
    window.jQuery || document.write("<script src='javascripts/jquery-1.5.1.min.js'>\x3C/'+'script>")
  script(src='javascripts/app.js')
  // End Document
